* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.brand-title {
  font-size: 1.5rem;
  padding: .5rem;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lime;
  color: black;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: darkgray;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.headshot-image img {
  max-width: 25%;
  border-radius: 25%;
  outline: solid 0.2rem lime;
  border: solid 0.2rem black;
  margin: 1.5rem auto 0;
}

.greetings {
  color: white;
  text-decoration: underline 2px lime;
  font-size: 3rem;
  margin-bottom: 0;
}

.career-container {
  color: white;
  width: 85%;
  line-height: 2rem;
  font-size: 1.5rem;
}

.name {
  color: lime;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.logo-link {
  margin: .5rem auto 0;
}

.logo-link img {
  max-width: 10%;
  display: inline-block;
  margin: 0 .25rem;
}

.logo-link .linkedin-link .linkedin:hover, 
.logo-link .github-link .github:hover {
  opacity: 0.3;
}

.skills-title {
  color: white;
  text-decoration: underline 2px lime;
  font-size: 3rem;
  margin-bottom: .5rem;
  margin-top: .85rem;
}

.skill-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-logos img {
  max-width: 10%;
}

.react-img {
  margin-left: .5rem;
}

.projects-title {
  color: white;
  text-decoration: underline 2px lime;
  font-size: 3rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.contact-title {
  color: white;
  text-decoration: underline 2px lime;
  font-size: 3rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

@media (min-width: 1200px) {
  .navbar {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .brand-title {
    font-size: 1.5rem;
    margin-left: .5rem;
  }

  .greetings {
    margin-top: 3rem;
    margin-left: 10rem;
    text-decoration: underline 5px lime;
    font-size: 2.5rem;
  }

  .headshot-image img {
    float: right;
    clear: both;
    margin-top: 6.5rem;
    margin-right: 7rem;
    width: 20%;
  }

  .career-container {
    width: 55%;
    overflow: auto;
    display: block;
    margin-top: 1rem;
    margin-left: 10rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .name {
    color: lime;
    text-transform: uppercase;
  }
    
  .logo-link {
    margin-left: 9rem;
  }
    
    
  .logo-link img {
    max-width: 7%;
    display: inline-block;
  }
    
  .logo-link .linkedin-link .linkedin:hover,
  .logo-link .github-link .github:hover {
    opacity: 0.3;
  }
   
  .skills-title {
    color: white;
    text-decoration: underline 5px lime;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    margin-top: .85rem;
  } 
  
  .skill-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .skill-logos img {
    max-width: 8%;
  }
    
  .react-img {
    margin-left: .5rem;
  }
    
  .projects-title {
    text-decoration: underline 5px lime;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
     
  .contact-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-decoration: underline 5px lime;
  } 

}

@media (max-width: 800px) {  
  .brand-title {
    font-size: 1.5rem;
  }
  
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 1.1rem;
    width: 100%;
    top: 0;
    left: 0;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 1rem;
    border-bottom: .13rem solid black;
  }

  .about-link {
    border-top: .13rem solid black;
  }

  .navbar-links.active {
    display: flex;
  }
  
  .headshot-image img {
    max-width: 35%;
    border-radius: 25%;
    outline: solid 0.2rem lime;
    border: solid 0.2rem black;
    display: block;
  }
  
  .greetings {
    text-align: center;
    font-size: 2rem;
  }
  
  .career-container {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    line-height: 2.3rem;
    font-size: 1.3rem;
  }
    
  .name {
    color: lime;
    text-transform: uppercase;
  }
    
  .logo-link {
    margin: .5rem auto 0;
    text-align: center;
  }
    
    
  .logo-link img {
    max-width: 15%;
    display: inline-block;
    margin: 0 .25rem;
  }
    
  .logo-link .linkedin-link .linkedin:hover,
  .logo-link .github-link .github:hover {
    opacity: 0.3;
  }
   
  .skills-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-top: .85rem;
  } 
  
  .skill-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .skill-logos img {
    max-width: 18%;
  }
    
  .react-img {
    margin-left: .5rem;
  }
    
  .projects-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
    
    
  .contact-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
  } 
}